.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {

  text-align: center;
  background: #FFFFFF;
}

.linkStyle {
  color: red;
  text-decoration: none;
 font-size: 20px;
  padding: 20px 0;
  margin: 0 5px;
  border-bottom: 2px solid red;

}
.linkStyle:hover {
  border-bottom: 2px solid red;
  padding: 6px 0;
  color: red;
  text-decoration: none;
}

.nav-link{
  font-size: 20px;
  transition: 0.3s ease;
  padding: 20px 0;
  transition: 0.3s ease;


}
.nav-link:hover{
  transition: 0.3s ease;

  border-bottom: 2px solid red;

}

.dropdown{
  color: red;
  text-decoration: none;
}